@import "./reset.css";
@import "./variables.css";

.app {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar topbar"
        "sidebar main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 5fr;
}

.logo {
    fill: white;
    height: 50px;
    width: 50px;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--color-primary);
    color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.sidebar-logo {
    padding: 16px;
    font-size: 32px;
    font-weight: 500;
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    margin-bottom: 1rem;
}

.sidebar-nav {
    display: grid;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li:nth-child(6) {
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.sidebar-nav a {
    display: grid;
    grid-template-columns: auto 1fr;
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 8px 1.5rem;
    gap: 12px;
    font-weight: 500;
}

.sidebar-nav a:hover {
    background-color: var(--color-primary-hover);
}

.icon {
    fill: white;
    width: 1.3rem;
    height: 1.3rem;
}

.icon-reversed {
    fill: black;
    width: 1.3rem;
    height: 1.3rem;
}

.topbar {
    padding: 8px 24px;
    grid-area: topbar;
    display: grid;
    gap: 12px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: var(--shadow);
    z-index: 10;
}

.search {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 12px;
}

.search-input {
    background-color: var(--color-bg);
    border: none;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: var(--font-base);
}

.user-box {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 12px;
    align-items: center;
    justify-items: right;
    font-weight: 500;
}

.profile {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 12px;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    padding: 8px;
}

.profile:hover {
    background-color: var(--color-bg);
    border-radius: 2rem;

}

.user-notification-btn {
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

.user-notification-btn:hover {
    background-color: var(--color-bg);
}

.avatar-mini {
    width: 50px;
    height: 50px;
}

.user-greetings {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0 12px;
}

.user-greetings .avatar {
    width: 75px;
    height: 75px;
    grid-row: 1/3;
}

.user-greetings p {
    font-size: 16px;
    font-weight: 500;
    align-self: end;
}

.user-greetings .username {
    font-weight: 500;
    font-size: var(--font-m);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 12px;
    justify-items: end;
    align-items: center;
}

.btn {
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 16px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    background-color: var(--color-primary-hover);
}

.main {
    grid-area: main;
    background-color: var(--color-bg);
}

.content {
    padding: 24px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

.content h2 {
    font-weight: 500;
    font-size: var(--font-m);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.projects {
    grid-column: 1;
    grid-row: 1/3;

}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
}

.card {
    background-color: white;
    padding: 1.5rem;
    border-left: 8px solid var(--color-acccent);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-rows: auto auto;
}

.card-content {
    grid-row: 1;
}

.card-title {
    font-size: var(--font-base);
    font-weight: 500;
}

.card-description {
    font-size: var(--font-s);
    color: var(--color-text);
    margin-bottom: 24px;
}

.card-actions {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 12px;
    justify-content: end;
}


.card-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.card-actions button:hover {
    background: var(--color-bg);
    border-radius: 2rem;
}


.announcements {
    grid-column: 2;
    grid-row: 1;
    min-width: 300px;
}

.box {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.announcement-item {
    border-bottom: 2px solid var(--color-bg);
    padding: 12px;
}

.announcement-item:last-child {
    border-bottom: none;
}

.announcement-item h4 {
    font-weight: 500;
    font-size: var(--font-s);
}

.announcement-item p {
    font-size: var(--font-xs);
    color: var(--color-text);
}

.trending {
    grid-column: 2;
    grid-row: 2;
}

.trending-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 12px;
    padding: 12px 0px;
}

.trending-author {
    font-weight: 500;
    font-size: var(--font-s);
}

.trending-description {
    font-size: var(--font-s);
    color: var(--color-text);
}