/* css reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* css */

:root {
    --primary-bg-color: #1e90ff;
    --secondary-bg-color: #f3f3f3;
}

.app {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar topbar"
        "sidebar main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-bg-color);
    color: white;
}

.topbar {
    grid-area: topbar;
}

.main {
    grid-area: main;
    background-color: var(--secondary-bg-color);
}